# Ignore system and editor files
*~
.*.swp
.DS_Store

# Ignore logs
*.log
*.log.*
log/
*.txt
*.txt.*
logs/
# Ignore build artifacts and dependencies
/build
/dist
/node_modules

# Ignore environment-specific files
.env
.env.*

# Ignore user-specific files
.idea/
.vscode/
/qbittorrent/qBittorrent/BT_backup/queue
sonnar/
/sonarr/
raddar/
qbittorrent/
/jackett
radarr/
readarr/
readarr/*
bazarr/
overseerr
overseerr/*
tautulli
tautulli/*
prowlarr
prowlarr/*
jellyfin
jellyfin/*
filebrowser
filebrowser/*
filebot
filebot*